body { background-color: #ffffcc;
color: #003300;
font-family: Arial, Helvetica, sans-serif; }

.wrapper {

    border: 1px solid black;
    width: 90%; /* Largeur du wrapper */
    line-height: 100%;
    min-width: 90%; /* Largeur minimum du wrapper */
    color: cadetblue; /* Couleur du texte dans le wrapper */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Indique que cet élément doit être au premier plan */
    padding: 20px;
    background-color: white; /* Couleur de fond du wrapper */
    text-align: center; /* Pour centrer le contenu dans le wrapper, si nécessaire */


}
.animate {
            transition: all 0.1s;
            -webkit-transition: all 0.1s;
        }
.action-button {
            position: relative;
            padding: 10px 40px;
            margin: 0px 10px 10px 0px;
            float: left;
            border-radius: 10px;
            font-family: 'Pacifico', cursive;
            font-size: 25px;
            color: #FFF;
            text-decoration: none;
        }
        .action-button:active {
            transform: translate(0px, 5px);
            -webkit-transform: translate(0px, 5px);
            border-bottom: 1px solid;
        }
        .blue {
            background-color: #188385;
            border-bottom: 5px solid #115D5F;
            text-shadow: 0px -2px #115D5F;
        }
        .red {
            background-color: #E74C3C;
            border-bottom: 5px solid #BD3E31;
            text-shadow: 0px -2px #BD3E31;
        }
        .green{
            background-color: #0FB24D;
            border-bottom: 5px solid #0E833A;
            text-shadow: 0px -2px #0E833A;
        }


.gauche {
    float: left;
    height: 80px;
    width: 80%;
    border: 1px solid black;
    

}

.droite {
    width: auto
    float: left;
    height: 80px;
    border:1px solid black;
    

}

#logo {
    text-align: center;
}

#photoProfil{
    border-radius: 50%;
}
.menu {
     /* Fait flotter la colonne vers la gauche */
    width: 98%; /* Largeur de la colonne gauche */
    background-color: lightcyan; /* Couleur de fond de la colonne gauche (exemple) */
    padding: 10px; /* Padding à l'intérieur de la colonne gauche */
    margin-right: 10px; /* Marge à droite pour séparer de la colonne principale (exemple) */
    height: 100px;
}
.menu a {
    width: 9%;
    text-align: center;
}

.leftcolumn {
    border: 1px solid black;
    float: left; /* Fait flotter la colonne vers la gauche */
    width: 30%; /* Largeur de la colonne gauche */
    height: 400px;
    background-color: white; /* Couleur de fond de la colonne gauche (exemple) */

    margin: 15px 0;
    
}
.admins {
    border: 1px solid black;
    float: left; /* Fait flotter la colonne vers la gauche */
    width: 70%; /* Largeur de la colonne gauche */
    height: 400px;
    background-color: white; /* Couleur de fond de la colonne gauche (exemple) */

    margin: 15px 0;
    
}



.rightcolumn {
    border: 1px solid black;
    width: 50%;
    float: left;
    height: 400px;
    display: block;
    margin: 15px 0; /* Marge en haut et en bas pour les liens dans la colonne droite */
    text-decoration: none;
    color: #003300;
    
}
.rightestcolumn {
    border: 1px solid black;
    width: auto
    float: left;
    height: 400px;
    display: block;
    margin: 15px 0; /* Marge en haut et en bas pour les liens dans la colonne droite */
    text-decoration: none;
    color: #003300;
    
}


.fond-second-plan {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #003366;
            background-image: url('images/fondbleu.jpg'); /* Remplacez par le chemin de votre image */
            background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone */
            background-position: center; /* Centre l'image horizontalement et verticalement */
            background-repeat: no-repeat; /* Couleur de fond du second plan */
            z-index: 0; /* Indique que cet élément doit être en arrière-plan */

        }

#carrousel {
        height: 100%; /* Set the height of the carousel to 100% of its container */
        overflow: hidden; /* Hide the overflow to create a vertical scroll effect */
    }

    #carrousel ul {
        list-style-type: none; /* Remove list styling */
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column; /* Arrange list items vertically */
        transition: transform 0.5s ease; /* Add smooth transition for animation */
    }

    #carrousel ul li {
        margin-bottom: 10px; /* Add margin between list items */
    }

    #carrousel ul li img {
        align-items: center;
        width: 100px;
        height: 100px;
        display: block;
    }

#titre {
        left: 220px;
        position: relative;
        color: midnightblue;
    }



#next {
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        right: 50px; 
        color: white;
        background-color: slateblue;
    }

#prev {
        color: white;
        background-color: slateblue;
        right: 50px;
    }

#map {
    width: auto
    float: left;
    height: 90px;
    border:1px solid black;
    position: relative;
    
}



#footer {
    float: left;
    height: 90px;
    width: 82%;
    border: 1px solid black;
    margin-bottom: 10px;
}


        
header{
    font-weight: bold;
}



img{
	border: none;
}

#liste_auteurs tr{
    height: 100px;
}
